<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head">
<body>
<header th:replace="fragments ::header"></header>

<div class="container-fluid " style="margin-top: 80px;">
    <div class="row" >
        <div class="col-2 border-right  border-light border-primary bg-light" style="height: 100vh;  position: fixed;left: 0">
            <nav class="navbar  navbar-light  border-bottom border-light mt-3">
                <a class="navbar-brand" th:href="@{/item}">Check Item in Inventory</a>
            </nav>
            <nav class="navbar  navbar-light  border-bottom border-light">
                <a class="navbar-brand" href="#">Order</a>
            </nav>
            <nav class="navbar  navbar-light  border-bottom border-light">
                <a class="navbar-brand" href="#">Check Status Order</a>
            </nav>
        </div>
        <form th:action = "@{/order/confirm/(totalPrice=${totalPrice})}" method="post" th:object="${totalPrice}">
        <div class="col-10 row flex-wrap p-5" style="margin-left: 17%;">
                <div th:each="item : ${itemsOrder}" class="card w-75 d-flex flex-row mb-3">
                    <img
                            class="card-img-top mt-5"
                            src="https://www.xtmobile.vn/vnt_upload/product/08_2019/thumbs/(600x600)_crop_600_iphone_11_pro_max_den_xtmobile.jpg"
                            alt="Card image cap"
                    style="margin-bottom: 15px;width: 150px">
                    <div class="card-body" style="margin-top: 32px">
                        <h5 class="card-title">[[${item.name}]]</h5>
                        <p class="card-text" th:text="${item.description}"></p>
                        <p class="card-text text-danger" th:text="${item.price}"></p>
                    </div>
                </div>
            <!-- Button trigger modal -->
            <h3 class="text-danger">[[${totalPrice}]] VND</h3>
            <button type="submit" class="btn btn-primary" >
                Submit
            </button>
            <span th:text = "${mes}"></span>
        </div>
        </form>
            <!-- Modal -->
<!--            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--                <div class="modal-dialog">-->
<!--                    <div class="modal-content">-->
<!--                        <div class="modal-header">-->
<!--                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
<!--                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                        </div>-->
<!--                        <div class="modal-body">-->
<!--                            ...-->
<!--                        </div>-->
<!--                        <div class="modal-footer">-->
<!--                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                            <a class="btn btn-primary" th:href="@{/order/confirm}">Save changes</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
    </div>
</div>
</body>
</html>